.carousel {
    padding: 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-arrow {
        background-color: #fff;
        border: none;
        padding: 0;
        &:nth-child(1) {
            margin-right: 67px;
        }
        &:nth-child(3) {
            margin-left: 67px;
        }
        img {
            width: 31px;
            height: 50px;
            
        }
        
    }
    .slick-track {
        display: flex;
        align-items: center;
        width: 100%;
        img {
            width: 100%;
            margin: 0;
            }
        }
}   
    
