@import '../base/variables';
body,
* {
    font-family: MuseoModerno, sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@import '../blocks/promo';
@import '../blocks/header';
@import '../blocks/buttons';
@import '../blocks/_advantages';



@import '../blocks/media';